{%extends "base.html" %}
{% block title %} Complaint {%endblock%}
{% block content %}
{% for _ in [0]: %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-danger">{{message}}</div>
      {% endfor %}
  {% endif %}
  {% endwith %}
{% endfor %}
<div class="list-group mx-5 my-5">
  <button type="button" class="list-group-item list-group-item-action active">
    Usernames of Users
  </button>
  {% for username in all_users %}
  <button type="button" class="list-group-item list-group-item-action">{{username.username}}</button>
  {% endfor %}
</div>
<div class="mx-5">
  {% import "bootstrap/wtf.html" as wtf %}
  {{ wtf.quick_form(form) }}
</div>
{% endblock %}